.artistnotfound__container {
    @include center;   
    flex-direction: column;
}

.artistnotfound__image {
    width: $artist-notfound-width;
    margin-top: 5rem;

    @include respond(tab-land) {
        width: calc($artist-notfound-width + 15%);
    }

    @include respond(tab-port) {
        margin-top: 15rem;
        width: calc($artist-notfound-width + 35%);
    }

    @include respond(phone) {
        margin-top: 10rem;
        width: calc($artist-notfound-width + 40%);
    }
}

.artistnotfound__paragraph {
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}