.eventartist__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.eventartist__profilecontainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.eventartist__imagediv {
    &-img {
        width: $event-artist-image;
        height: $event-artist-image;
        border-radius: calc($event-artist-image / 2);
        object-fit: cover;
    }
}

.eventartist__content {
    margin-top: -3rem;
    & > div {
        margin: 3rem 1rem;
    }
}

.eventartist__socialmedia {
    
    margin-top: 2%;

    &--icon {
        width: 2.4rem;
        height: 2.4rem;
        margin-right: 1.6%;
        cursor: pointer;
    }

    &--iconreset {
        margin-right: -0.6%;
    }
}

.eventartist__inputcontainer {
    align-self: flex-end;
    margin-right: 2%;

    @include respond(phone) {
        margin-left: -2%;
        margin-bottom: 2%;
        margin-top: -3%;
    }
}