.headerevents__container {
    width: 89%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;

    @include respond(phone) {
        justify-content: center;
    }
}