.headerevents__container {

    position: relative;
    margin-top: 4rem;

    @include respond(tab-port) {
        margin-top: 10rem;
    }

    @include respond(phone) {
        margin-top: 15rem;
    }

    &-main {
        &--heading {
            margin-left: 5%;
            position: absolute;
            top: 10%;

            @include respond(tab-land) {
                font-size: 6.0rem;
                margin-top: -6rem;
            }

            @include respond(tab-port) {
                top: -3%;
                font-size: 6.0rem;
            }

            @include respond(phone) {
                top: -3%;
                font-size: 4.0rem;
            }
        }
    }

    &-artists {
        width: 89%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 auto;

        @include respond(tab-land) {
            width: 95%;
        }

        @include respond(phone) {
            justify-content: center;
        }
    }
}

.headerevents-textcontent {
    text-align: right;
    color: $gray-color;
}