.headereventcard__container {
    display: block;
    position: relative;
    margin: 1rem 0;
    cursor: pointer;
}

.headereventcard-imagediv {
    display: block;
    width: $header-artist-image-width;
    height: $header-artist-image-width;

    background-color: $app-black-color;

    border-radius: 4px;
}

.headereventcard-image {
    opacity: 0.83;
    width: $header-artist-image-width;
    height: $header-artist-image-width;
    
}

.headereventcard-heading {
    color: $app-white-color;
    position: absolute;
    bottom: 0%;
    font-weight: 700;
    width: $header-artist-image-width;
    left: 3%;
}