.input__container {

    position: relative;
    display: inline-flex;
    align-items: center;

    margin-top: 1%;
    margin-left: 5%;

    &-input {
        padding: 0.8rem 4rem;
        border-radius: 10rem;
        border: 1.5px solid $black-color;

        @include themed() {
            border-color: t($black-color);
        }
        
        font-size: 1.6rem;
        width: $artist-search-input-width;
        z-index: 1;
    }
}

.input__icon { 

    &--search {
        position: absolute;
        z-index: 2;
        width: 4rem;
        top: 15%;
    }

    &--cancel {
        position: absolute;
        z-index: 2;
        width: 4rem;
        top: 15%;
        right: 0%;
        cursor: pointer;
    }
}