.noartist__container {
    @include center;
    flex-direction: column;
    height: 80vh;
}

.noartist_content {
    text-align: center;
    margin-top: 2rem;
}

@media only screen and (max-width: 75em) {
    .noartist__container {
        &-image {
            width: 20%;
        }
    }
}

@media only screen and (max-width: 56.25em) {
    .noartist__container {
        &-image {
            width: 20%;
        }
    }
}

@media only screen and (max-width: 37.5em) {
    .noartist__container {
        &-image {
            width: 70%;
        }
    }
}