.noartist__container {
    @include center;
    flex-direction: column;
    height: 80vh;

    @include respond(tab-land) {
        &-image {
            width: 20%;
        }
    }

    @include respond(tab-port) {
        &-image {
            width: 20%;
        }
    }

    @include respond(phone) {
        &-image {
            width: 70%;
        }
    }
    
}

.noartist_content {
    text-align: center;
    margin-top: 2rem;
}