// Searched Artist

.searchedartist__container {
    margin-left: 5%;
    margin-top: 2%;
}

// Searched Artist Card

.searchedartistcard__container {

    @include themed() {
        background-color: t($white-color);
    }
    
    box-shadow: $primray-box-shadow;
    width: $artist-searchedcard-width;
    height: $artist-searchedcard-height;
    border-radius: 0.4rem;
    cursor: pointer;

    @include respond(phone) {
        width: get-vw(90rem);
    }
}

.searchedartistcard-image {
    width: $artist-searchedcard-image;
    height: $artist-searchedcard-image;
    border-radius: calc($artist-searchedcard-image / 2);
    object-fit: cover;
    margin: 1rem 2rem;
}

.searchedartistcard-content {
    margin-left: 5%;
}