body {
    font-family: 'Montserrat', sans-serif;
}

.heading-secondary {
    font-size: 2.6rem;
}

.paragraph {
    font-size: 1.6rem;
}

// Navbar

.navbar-link {
    margin: 0 2rem;
    text-decoration: none;
    color: $black-color;
    font-size: 1.6rem;
}