body {
    font-family: 'Montserrat', sans-serif;
}

.heading-primary {
    font-size: 6.6rem;
}

.heading-secondary {
    font-size: 2.6rem;
}

.heading-tertiary {
    font-size: 2.2rem;
}

.heading-quaternary {
    font-size: 1.8rem;
    font-weight: bold;
}

.paragraph {
    font-size: 1.6rem;
}

.paragraph-primary {
    font-size: 2.4rem;
}

.paragraph-secondary {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.2rem;
    color: $white-color;
}

.paragraph-tertiary {
    font-size: 1.8rem;
}

// Navbar

.navbar-link {
    margin: 0 2rem;
    text-decoration: none;
    color: $black-color;
    font-size: 1.6rem;
}

// Event

.artistevent-para {
    margin-top: -1rem;
}