.eventmain__container {
    &--dark {
        background-color: #0e0e10;
    }
}

.event__container {
    width: 90%;
    margin: 2rem auto;
}

.event_hrline {

    @include themed() {
        border: 0.1px solid t($black-color);
    }

    margin: 1rem 0;

    @include respond(phone) {
        margin: 0rem;
    }
}