// Colors
$primary-color: #FE8D47;
$secondary-color: #58469C;
$gray-color: #E9E9E9;
$black-color: #000000;
$white-color: #FFFFFF;

// Logo Size
$logo-width: 10rem;

// Navbar
$navbar-width: 90%;

// Artist
$artist-search-input-width: 30rem;

// Artist Searched Card
$artist-searchedcard-image: 12rem;
$artist-searchedcard-width: 51rem;
$artist-searchedcard-height: 23rem;

// Badge
$badge-width: 8.3rem;
$badge-height: 3rem;
