// Colors
$primary-color: #FE8D47;
$secondary-color: #58469C;
$gray-color: #E9E9E9;
$dark-gray-color: #C4C4C4;
$black-color: #000000;
$white-color: #FFFFFF;

// Logo Size
$logo-width: 10rem;

// Navbar
$navbar-width: 90%;

// Artist
$artist-search-input-width: 30rem;

// Artist -- Searched Card
$artist-searchedcard-image: 12rem;
$artist-searchedcard-width: 51rem;
$artist-searchedcard-height: 23rem;

// Arirst -- Recent Card
$artist-recentcard-image: 19rem;
$artist-recentcard-width: 23rem;
$artist-recentcard-height: 35.9rem;

// Badge
$badge-width: 8.3rem;
$badge-height: 3rem;

// Box Shadow
$primray-box-shadow: 0px 0.1px 0.5px rgba(0, 0, 0, 0.02),
    0.1px 0.3px 1.1px rgba(0, 0, 0, 0.028),
    0.1px 0.5px 2.1px rgba(0, 0, 0, 0.035),
    0.2px 0.9px 3.8px rgba(0, 0, 0, 0.042),
    0.4px 1.7px 7.1px rgba(0, 0, 0, 0.05),
    1px 4px 17px rgba(0, 0, 0, 0.07)
;

// Event
$event-artist-image: 33.3rem;

// Event -- Card
$event-card-width: 65.8rem;
$event-card-height: 22.6rem;
$event-card-phone-height: 32rem;

// Spinner

$spinner-width: 10rem;
$spinner-height: 10rem;

$spinner-border-width: 1rem;

// Artist Not Found
$artist-notfound-width: 30%;